#cards-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 50px;
    margin-bottom: 150px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    height: fit-content;
    width: 100%;
    box-shadow: 0px 10px 50px rgb(0, 0, 0, .25);
    background-color: #fff;
    transition: all .15s ease-in-out;
}

.card:hover {
    margin-top: -15px;
    cursor: pointer;
}

.card .text-container {
    padding: 30px; 
}

.card .title{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 15px; 
    color: var(--neutral-dark); 
}

.card .description {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--neutral-medium)
}

.card .link {
    margin-top: 50px;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--primary); 
    cursor: pointer; 
}

@media (max-width: 600px) {
    #cards-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 0px;
        grid-row-gap: 50px;
        overflow: visible;
    }

    .card {
        box-shadow: 0px 0px 20px rgb(0, 0, 0, .25);
    }
}