
/* -------------- HEADER --------------- */

header {
    position: relative;
    height: fit-content;
    width: 100%; 
}

a img {
    height: 100%;
    width: auto;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    height: fit-content;
    width: 100%;
    padding-top: 30px; 
    padding-bottom: 10px; 
    padding-inline: 7vw;
    background-color: rgb(242, 244, 252, .8);
    z-index: 10;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
    width: fit-content;
}

li a {
    text-decoration: unset;
    padding-inline: 15px;
    font-weight: 500;
    color: var(--neutral-medium)
}

.selected {
    color: var(--primary)
}

header button {
    height: fit-content;
    width: fit-content;
    padding-block: 15px; 
    padding-inline: 20px; 
    border: none;
    background-color: var(--primary);
    color: #fff; 
    transition: all .15s ease-in-out;
}

header button:hover {
    box-shadow: inset 0px 0px 0px 2px var(--primary);
    background-color: transparent;
    color: var(--primary);
    cursor: pointer; 
}

/* -------------- MOBILE NAVBAR MENU --------------- */

#menu-button {
    display: none;
    height: fit-content;
    width: fit-content;
}

#menu-button span {
    display: block;
    height: 4px;
    width: 25px;
    margin-bottom: 5px;
    background-color: var(--primary);
    border-radius: 1px;
}

#menu {
    position: fixed;
    top: -100vh; 
    bottom: 0px;
    display: none;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, .8);
    z-index: 9999999999999999;
    animation: menuAppear .3s ease-in-out forwards; 
}

#menu span:first-child {
    transform: rotate(-45deg);
}

#menu span {
    position: absolute;
    top: 55px; 
    right: 5vw;
    display: block;
    height: 4px;
    width: 25px;
    transform: rotate(45deg);
    background-color: #fff;
    border-radius: 1px;
}

#menu a {
    height: fit-content; 
    width: fit-content; 
    padding-block: 10px; 
    padding-inline: 40px; 
    margin-block: 10px; 
    font-size: 50px;
    font-weight: 600;
    text-align: left;
    color: #fff; 
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

@keyframes menuAppear {
    0% {
        top: -100vh;   
    }

    100% {
        top: 0px; 
    }
}

/* -------------- HEADER QUERIES --------------- */

@media (max-width: 600px) {
    nav ul {
        display: none;
    }

    header button {
        display: none;
    }

    #menu-button {
        display: block;
    }
}