/* EXTENDS */
@import url('../style.css'); 

/* COMPONENTS */
@import url('../components/card.css'); 
@import url('../components/footer.css'); 
@import url('../components/contactBlock.css'); 

/* ---------- FIRST SECTION ---------- */

#first-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    width: 100%;
    padding-bottom: 30px; 
    padding-inline: 7vw; 
}

h1 {
    margin-top: 100px; 
    margin-bottom: 25px; 
    font-size: 4rem;
    font-weight: 700;
    color: var(--neutral-dark);
}

#first-section p {
    margin-bottom: 50px; 
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--neutral-medium)
}

/* links */

#first-section div {
    display: inline-block;
}

#first-section button:first-child { 
    margin-right: 20px;
    background-color: var(--primary);
    color: #fff; 
}

#first-section button:first-child:hover {
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 2px var(--primary);
    color: var(--primary)
}

#first-section button {
    height: fit-content;
    width: fit-content;
    padding-block: 13px;  
    padding-inline: 20px;
    border: none; 
    color: var(--neutral-medium); 
    background-color: transparent;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

#first-section button:hover {
    cursor: pointer; 
    background-color: var(--secondary-blue);
    color: var(--neutral-dark)
}

#first-section img {
    position: absolute;
    top: 0px; 
    right: 7vw; 
    height: auto;
    width: 600px;
    z-index: -1;
}

/* FIRST CARD */

#card-container {
    position: absolute;
    top: 13px;
    right: 519px;
    height: fit-content;
    width: fit-content;
    padding: 22px;
    border-radius: 40px;
    background-color: white;
    transition: all .2s ease-in-out; 
}

#card-container  p:first-child {
  font-size: .8rem;
  color: #d8d8d8; 
  margin-bottom: 5px; 
}

#card-container  p {
  font-size: .8rem;
  color: #292e47; 
  margin-bottom: 15px; 
  transition: all .2s ease-in-out; 
}

#card-container  > #credit-card {
  display: flex;
  flex-direction: column; 
  height: fit-content;
  width: 100%; 
  padding: 20px; 
  background-color: #072ac8; 
  border-radius: 25px; 
  margin-bottom: 15px;
  transition: all .2s ease-in-out; 
}

#credit-card div:first-child {
  display: flex; 
  margin-bottom: 15px; 
}

#credit-card #left-circle {
  height: 12px;
  width: 12px; 
  background-color: #eb001b; 
  border-radius: 20px; 
  opacity: .8; 
  filter: brightness(200%)
}

#credit-card #right-circle {
  height: 12px;
  width: 12px; 
  margin-left: -6px; 
  background-color: #f79e1b; 
  border-radius: 20px;
}

#bottom {
  display: flex; 
  align-items: center;  
  justify-content: center;
}

#bottom > span{
  margin-inline: 3px; 
  color: #fff; 
  opacity: .5; 
  transition: all .2s ease-in-out; 
}

#bottom > span:nth-child(4){
  color: #fff;
  opacity: 1; 
  font-weight: 400; 
  font-size: .8rem; 
}

#dots {
  display: flex; 
  flex-direction: row; 
  justify-content: center;
}

#dots > div:first-child{
  background-color: #292e47; 
}

#dots > div{
  background-color: #ececec; 
  height: 7px;
  width: 7px; 
  border-radius: 10px; 
  margin-inline: 2px; 
  transition: all .2s ease-in-out; 
}

#card-container:hover {
  background-color: #10184d; 
}

#card-container:hover p{
  color: #fff;
}

#card-container:hover  p:first-child {
    color: #323e8f;
}

#card-container:hover #credit-card{
  background-color: #ebba50;
}

#card-container:hover #dots div:first-child{
  background-color: #ebba50;
}

#card-container:hover #dots div{
  background-color: #323e8f;
}


@media (max-width: 600px) {
    #first-section {
        align-items: center;
        text-align: center;
    }

    h1 {
        margin-top: 50px;
        font-size: 2.5rem;
    }

    #first-section img {
        display: none;
    }

    #card-container {
        display: none;
    }
}

/* ---------- SECOND SECTION ---------- */

#second-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding-inline: 7vw; 
    margin-top: 250px; 
    margin-bottom: 150px;
    overflow-x: hidden;
}

#second-section img {
    height: auto;
    width: 110px;
    filter: grayscale(100%);
    transition: all .15s ease-in-out;
}

#second-section img:hover {
    filter: grayscale(0%);
    cursor: pointer;
}

@media (max-width: 600px) {

    #second-section {
        width: 100%;
        margin-top: 100px; 
        padding: 0px;
        justify-content: flex-start; 
        animation: carrusel 50s infinite;
        overflow-x: hidden;
    }

    #second-section img {
        filter: grayscale(0%);
    }

    @keyframes carrusel {
        0% {
            transform: translateX(-70%);
        } 
        50% {
            transform: translateX(5%);
        }
        100% {
            transform: translateX(-70%);
        }
    }

    #second-section img {
        height: 50px;
        width: auto; 
        margin-inline: 20px; 
    }
}

/* ---------- THIRD SECTION ---------- */


#third-section {
    position: relative;
    padding-inline: 7vw; 
}

h2 {
    font-size: 2rem;
    color: var(--neutral-dark); 
    margin-bottom: 70px; 
}

#third-section .card img{
    aspect-ratio: 13/9;
    height: auto;
    width: 100%;
    pointer-events: none;
}

/* ---------- FOURTH SECTION ---------- */

#fourth-section {
    position: relative;
    height: fit-content;
    width: 100%;
    padding-inline: 4vw; 
    margin-bottom: 200px;
}

#quote-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    height: fit-content;
    width: 100%;
    background-color: var(--neutral-dark);
    padding: 100px; 
    background-image: url('../../assets/testimonials/orbit.png');
    background-position: center;
    background-size: 100% auto;
}

#quote-container h3 {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--neutral-light);  
    margin-bottom: 100px;
}

#quote-container q {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--secondary);  
    margin-bottom: 100px;
}

#profile-container {
    display: inline-flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

#profile-container img{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-right: 10px;
}

#profile-container span {
    display: block;
}

#profile-container span:nth-child(1) {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--neutral-light-blue);  
}

#profile-container span:nth-child(2) {
    font-size: 1rem;
    font-weight: 400;
    color: var(--neutral-light);  
}

/* MEMOJI'S PLACEMENT */

/* 1:35 AM and nth-child is not working. I'm going to use a class for each img, im sorry */

.memoji-one {
    position: absolute;
    height: 160px;
    width: auto;
    top: 50px; 
    left: 50px; 
}

.memoji-two {
    position: absolute;
    height: 160px;
    width: auto;
    top: 50px; 
    right: 50px; 
}

.memoji-three {
    position: absolute;
    height: 160px;
    width: auto;
    bottom: 50px; 
    left: 50px; 
}

.memoji-four {
    position: absolute;
    height: 160px;
    width: auto;
    bottom: 50px; 
    right: 50px; 
}

@media (max-width: 600px) {
    #fourth-section {
        padding-inline: 7vw;
        margin-bottom: 70px;
    }

    #quote-container {
        padding: 50px; 
        background-image: url('../../assets/testimonials/orbit.png');
        background-position: center;
        background-size: 100% auto;
        margin-top: 50px;
    }

    #quote-container h3 {
        display: none; 
    }

    #quote-container q {
        font-size: 1.3rem;
        margin: 0px; 
    }

    #profile-container {
       order: -1;
       margin-bottom: 30px;
    }
    
    .memoji-one {
        display: none;
    }

    .memoji-two {
        display: none;
    }

    .memoji-three {
        display: none;
    }

    .memoji-four {
        display: none;
    }
}

/* ---------- FIFTH SECTION ---------- */

#fifth-section {
    position: relative;
    padding-inline: 7vw; 
}

.card .image-container {
    position: relative;
    margin-top: 30px; 
    margin-left: 30px; 
    padding: 15px;
    height: 70px;
    width: 70px;
    background-color: var(--neutral-light-blue);
    border-radius: 50px;
    margin-bottom: 20px;
}

#fifth-section img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: auto;
    align-self: center; 
}

/* ---------- SIXTH SECTION ---------- */

#sixth-section {
    position: relative;
    height: fit-content;
    width: 100%;
    padding-inline: 4vw; 
    margin-bottom: 150px;
}