/* COMPONENTS */
@import url('../components/card.css'); 

/* OVERRIDE CARDS-CONTAINER (NOW 2 ROWS) */
#cards-container {
    grid-template-rows: 1fr 1fr;
}

#projects-container {
    margin-block: 30px 70px; 
    height: fit-content;
    width: 100%;
    padding-inline: 7vw;
}

#projects-container h2 {
    color: var(--neutral-dark); 
    font-size: 2.5rem;
    margin-bottom: 40px;  
}

#projects-container img {
    aspect-ratio: 13/9;
    height: auto;
    width: 100%;
    pointer-events: none;
}

.empty-card {
    height: 390px;
    width: 100%;
    background: linear-gradient(150deg, 
        var(--neutral-light-blue), var(--neutral-light-blue), #fff, var(--neutral-light-blue), var(--neutral-light-blue));
    background-size: 800% 800%;
    background-position: 0% 0%;
    animation: moveBackground 2.4s ease-in-out infinite;
}


@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    } 100% {
        background-position: 100% 100%;
    }
}